<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de canciones The Killes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-item>
  <img class="imagen" src="./assets/img/day.jpg"/>

  <ion-label>
    Human
  </ion-label>
</ion-item>


<ion-item>
   <img class="imagen" src="./assets/img/fuss.jpg"/>
  <ion-label>
    All These Things That I’ve Done
  </ion-label>
</ion-item>


<ion-item>
  <img class="imagen" src="./assets/img/battl.jpg"/>
  <ion-label>
    Read My Mind
  </ion-label>
</ion-item>


<ion-item>
  <img class="imagen" src="./assets/img/caracol.jpg"/>
  <ion-label>
    For Reasons Unknown
  </ion-label>
</ion-item>



<ion-item>
  <img class="imagen" src="./assets/img/fuss.jpg"/>
  <ion-label>
    Bones
  </ion-label>
</ion-item>

<ion-item>
  <img class="imagen" src="./assets/img/day.jpg"/>
  <ion-label>
    When You Were Young  
  </ion-label>
</ion-item>


<ion-item>
  <img class="imagen" src="./assets/img/battl.jpg"/>
  <ion-label>
    Somebody Told Me
  </ion-label>
</ion-item>


<ion-item>
  <img class="imagen" src="./assets/img/caracol.jpg"/>
  <ion-label>
    Mr. Brightside
  </ion-label>
</ion-item>

<ion-item>
  <img class="imagen" src="./assets/img/day.jpg"/>
  <ion-label>
    My Own Souls Warning
  </ion-label>
</ion-item>

<ion-item>
  <img class="imagen" src="./assets/img/day.jpg"/>
  <ion-label>
    Spaceman
  </ion-label>
</ion-item>


<ion-item>
  <img class="imagen" src="./assets/img/fuss.jpg"/>
  <ion-label>
    Smile Like You Mean it
  </ion-label>
</ion-item>

<ion-item>
  <img class="imagen" src="./assets/img/caracol.jpg"/>
  <ion-label>
    All These Things that I’ve done
  </ion-label>
</ion-item>


<ion-item>
  <img class="imagen" src="./assets/img/day.jpg"/>
  <ion-label>
    For Reasons Unknown
  </ion-label>
</ion-item>

<ion-item>
  <img class="imagen" src="./assets/img/fuss.jpg"/>
  <ion-label>
    A Dustland Fairytale
  </ion-label>
</ion-item>

<ion-item>
  <img class="imagen" src="./assets/img/battl.jpg"/>
  <ion-label>
    When You Were Young
  </ion-label>
</ion-item>
</ion-content>
